In [1]:
ball_position = 'B'
#1st for loop ab
for swap in(['AB', 'CA']):
    #swap = AB
    #2nd iteration  swap =CA and ball bosition now is A
    if ball_position in swap:
        #True  ----> if fase it will go out of the if statement initial ball pos is the o/p
        #2nd for loop
        #2nd iteration True
        if swap[0]==ball_position:
            #False --- then go to else 
            #Swap[0]----> A swap[1]--->B
            #2nd iteration swap[0]--->C and here it is false 
            ball_position=swap[1]
        else:
            ball_position = swap[0]
            #swap[0] ---> A
            #2nd iteration ----C
print("Ball Position is ", ball_position)

Ball Position is  C

In [3]:
import pandas as pd
import numpy as np

In [4]:
##### Create a Data Frame cars using raw data stored in a dictionary

In [6]:
cars_per_cap=[500,450,680,157,850,954]
country=['India','UK','USA','Australia','Malaysia','Canada']
drives_Right=[False,True,True,False,False,True]

In [9]:
data={"cars_per_cap":cars_per_cap,"country" : country, "drives_Right" : drives_Right}

In [10]:
data

{'cars_per_cap': [500, 450, 680, 157, 850, 954],
 'country': ['India', 'UK', 'USA', 'Australia', 'Malaysia', 'Canada'],
 'drives_Right': [False, True, True, False, False, True]}

In [13]:
cars=pd.DataFrame(data)
cars

   cars_per_cap    country  drives_Right
0           500      India         False
1           450         UK          True
2           680        USA          True
3           157  Australia         False
4           850   Malaysia         False
5           954     Canada          True

In [77]:
movie_df= pd.read_csv('IMDB-Movie-Data.csv')

In [78]:
movie_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [79]:
movie_df.head(1)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0

In [80]:
movie_df.tail(1)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [81]:
movie_df.shape # provides number of rows and columns

(1000, 12)

In [82]:
# Handling Duplicates

In [83]:
temp=movie_df.copy()
temp.shape

(1000, 12)

In [84]:
temp.head(1)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0

In [85]:
temp_without_Duplicates=temp.drop_duplicates()

In [86]:
temp_without_Duplicates.shape

(1000, 12)

In [87]:
temp=movie_df.append(movie_df)

/var/folders/_g/zmz9vv2j43s_6xdytvw6cwx80000gn/T/ipykernel_32648/3208836722.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp=movie_df.append(movie_df)

In [88]:
temp.shape

(2000, 12)

In [89]:
temp_without_Duplicates=temp.drop_duplicates() # verify after appendng whether duplicates are removed

In [90]:
temp_without_Duplicates.shape

(1000, 12)

In [91]:
## column cleanup

In [92]:
movie_df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [93]:
movie_df.rename(columns={'Runtime (Minutes)':'RunTime','Revenue (Millions)':'Revenue'},inplace=True)

In [94]:
movie_df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'RunTime', 'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [95]:
for col in movie_df.columns:
    print(col)

Rank
Title
Genre
Description
Director
Actors
Year
RunTime
Rating
Votes
Revenue
Metascore

In [96]:
movie_df.columns=[col.lower() for col in movie_df] # changing columns names to lower case

In [97]:
movie_df.columns

Index(['rank', 'title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime', 'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

In [98]:
# Working with missing values
movie_df.isnull

<bound method DataFrame.isnull of      rank                    title                     genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           description              director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                actors  year  runtime  rating  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014      121     8.1
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012      124     7.0
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016      117     7.3
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016      108     7.2
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016      123     6.2
..                                                 ...   ...      ...     ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015      111     6.2
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007       94     5.5
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008       98     6.2
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014       93     5.6
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016       87     5.3

      votes  revenue  metascore
0    757074   333.13       76.0
1    485820   126.46       65.0
2    157606   138.12       62.0
3     60545   270.32       59.0
4    393727   325.02       40.0
..      ...      ...        ...
995   27585      NaN       45.0
996   73152    17.54       46.0
997   70699    58.01       50.0
998    4881      NaN       22.0
999   12435    19.64       11.0

[1000 rows x 12 columns]>

In [99]:
movie_df.isnull().sum()

rank             0
title            0
genre            0
description      0
director         0
actors           0
year             0
runtime          0
rating           0
votes            0
revenue        128
metascore       64
dtype: int64

In [100]:
temp = movie_df.copy()

In [101]:
temp.shape

(1000, 12)

In [102]:
temp1=temp.dropna()
# temp.dropna(inplace=true)     ## we can also use this only thing is we need to make inplace true so that it will be in stored in TEMP

In [103]:
temp1.shape

(838, 12)

In [104]:
temp1

,rank,title,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [105]:
temp1.head()

,rank,title,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [106]:
temp1.isnull().sum()

rank           0
title          0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
revenue        0
metascore      0
dtype: int64

In [107]:
## Imputation

In [113]:
#treating missing values
#mean median mode
#mean ---> when data is normal distrubuted and if variable is numeric
#median --- > its not normally distributed and if variable is numeric
#mode ----> no of occurance
#we also buld ML modle to fill the missing value

In [110]:
temp1.revenue.mean()

84.56455847255368

In [114]:
temp.revenue.mean()

82.95637614678897

In [111]:
temp.isnull().sum()

rank             0
title            0
genre            0
description      0
director         0
actors           0
year             0
runtime          0
rating           0
votes            0
revenue        128
metascore       64
dtype: int64

In [112]:
temp1.shape

(838, 12)

In [115]:
temp.revenue.fillna(temp.revenue.mean(),inplace=True)

In [121]:
temp.shape

(1000, 12)

In [123]:
movie_df.describe()

,rank,year,runtime,rating,votes,revenue,metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [124]:
temp.actors.describe()

count                                                  1000
unique                                                  996
top       Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...
freq                                                      2
Name: actors, dtype: object